* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: gainsboro;
  line-height: 1.2;
}

header {
  background-color: lightcoral;
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px;
}

main {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  height: 30vh;
  width: 40vh;
  background-color: lightgreen;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1vh;
  margin: 2vh;
}

.bookmark {
  position: relative;
  align-self: end;
  right: 8px;
  bottom: 8px;
}

h3 {
  margin: 12px;
}

.hashtags {
  display: flex;
  margin-bottom: 12px;
  margin-left: 12px;
  align-self: flex-start;
}

.hashtags > a {
  text-decoration: none;
  color: #171717;
  background-color: lightyellow;
  padding: 4px;
  border-radius: 12px;
}

footer {
  background-color: lightcoral;
  width: 100vw;
  display: flex;
  font-size: xx-large;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  border: solid 2px;
}

#active {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
}
